*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
.header-top{
    background: #071c26;
    padding: 5px 0;
}
.header-top .header-top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .header-top a{
    transition: .5s !important;
    -webkit-transition: .5s !important;
    -moz-transition: .5s !important;
    -ms-transition: .5s !important;
    -o-transition: .5s !important;
} */

a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    transition:underline 1s;
    -webkit-transition:underline 1s;
    -moz-transition:underline 1s;
    -ms-transition:underline 1s;
    -o-transition:underline 1s;
}
.header-top a:hover{
    text-decoration: underline;
}
.top-right ul{
    display: flex;
    margin: 0;
}
li{
    color: white;
    list-style: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: "ubuntu", sans-serif;
}
.top-right ul a{
    color: white;
    text-decoration: none;
}
/* nvabar */
nav {
    background: #0050a3;
}
nav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav .nav-content ul{
    display: flex;
}
nav .nav-content ul li{
    list-style: none;
}
nav .nav-content ul li a{
    font-weight: bold;
}
nav .nav-right input{
    padding: 12px 30px;
    color: white;
    background: transparent;
    border: none;
    margin: 0 5px;
}
nav .nav-right .login{
    outline: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;
}
nav .nav-right .login:hover{
    background: white;
    color: black;
}
nav .nav-right .getstart{
    background: #0073ec;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.main-section{
    background-image: url(img/bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 85vh;
}
.main-section .overlay{
    background: #014cafbb;
    width: 100%;
    height: 100%;
    position: relative;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.header-content .content-top,
.header-content .content-bottom{
    width: 50%;
}
.header-content .content-top h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "ubuntu", sans-serif;
    line-height: 32px;
    margin: 20px 0;
}
.header-content .content-top h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    font-family: "ubuntu", sans-serif;
    word-spacing: 2px;
    color: white;
    margin: 20px 0;
}
.header-content .content-top p{
    color: white;
    font-size: 26px;
    font-family: "ubuntu" sans-serif;
    line-height: 32px;
    font-weight: 500;
}
.header-content .content-top .buttons{
    display: flex;
    align-items: center;
}
.header-content .content-top .buttons input,
.header-content .content-top .buttons button{
    padding: 12px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 15px 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    font-size: 16px;

}
.header-content .content-top input{
    background: #0073ec;
    margin-right: 20px;
}
.header-content .content-top input:hover{
    outline: 1px solid rgb(255, 255, 255);
    background: #01346b;
}
.header-content .content-top button{
    background: transparent;
    border: 1px solid white;
}
.header-content .content-top button:hover{
    outline: 1px solid white;
    background: white;
    color: black;
}
.header-content .content-bottom {
    margin-top: 40px;
}

.header-content .content-bottom h3{
    background: #a644e5;
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
}
.header-content .content-bottom ul{
    margin: 0;
}
.header-content .content-bottom ul li{
    list-style: none;
    margin: 30px 0;
}
.header-content .content-bottom ul li a{
    font-size: 20px;
    color: white;
    font-family: "ubuntu" ,sans-serif;
}
.header-content .content-bottom ul li a:hover{
    text-decoration: underline;
}
.header-content .content-bottom ul li i{
    font-size: 18px;
    margin-right: 5px;
}
.header-content .content-bottom ul li .fa-list-alt{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
/* ========================= header-section bottom------------------------------------- */
.section-bottom{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    font-size: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.section-bottom .gift-design{
    color: white;
    position: relative;
    margin-bottom: 20px;
}
.section-bottom .gift-design::after{
    content: "";
    width: 10000%;
    height: 2px;
    background: white;
    position: absolute;
    right: calc(100% + 20px);
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.section-bottom .gift-design::before{
    content: "";
    width: 10000%;
    height: 2px;
    background: white;
    position: absolute;
    left: calc(100% + 20px);
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.section-bottom h1{
    position: inherit;
    margin-top: 3%;
    font-size: 26px;
    color: white;
}